name: Linux Release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies and pyinstall
      run: |
        python -m pip install --upgrade pip setuptools
        pip install PyInstaller==4.2
    - name: Generate binary
      run: |
        pyinstaller --onefile -n tle_gen tle_gen.py
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: TLE_Generator.linux
        path: |
          dist/tle_gen
          satellites.txt
